// src/assets/styles/variables.scss

// 屏幕断点
$breakpoint-xs: 480px; // 超小屏手机
$breakpoint-sm: 768px; // 平板/大屏手机分界线
$breakpoint-md: 992px; // 桌面显示器

// 布局变量
$nav-height-pc: 60px;
$nav-height-mobile: 50px;
$container-width-pc: 1200px;
